@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Creepster);

body {
  color: black;
  margin: 150px;
  background-image: url(http://41.media.tumblr.com/4fbd93ca281bd434bc208312c0b48eab/tumblr_ncn8q7zm4X1s1vn29o1_1280.jpg);
}
a {
  text-decoration: none;
  color: black;
}
h1.welcome {
  font-family: 'Creepster', cursive;
  text-align: center;
  top: -200px;
}
h3.login {
  text-align: center;
  padding: 10px;
}
.register, .log {
  text-align: center;
  padding-top: 0;
}
